/* 
@mixin line-menu {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .5vh;
    transition: width 400ms ease-in-out;
}
*/
body {
  margin: 0;
}

main {
  margin-bottom: 10%;
}

@media screen and (max-width: 944px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu_note {
    margin-bottom: 5%;
    height: 5em;
  }
}

/* !!! Index !!! */
header {
  font-family: "Arial black";
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 100%;
  background-color: #579c87;
  font-size: 4em;
  margin-bottom: 5%;
}

header a {
  margin: auto;
  padding: 2%;
  text-decoration: none;
  color: #fdcb46;
}

@media screen and (max-width: 570px) {
  header a {
    font-size: .8em;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-bottom: 5%;
  text-align: center;
  width: 41%;
}

.card-contenu {
  width: 40vh;
}

.menu_note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px -1px 34px -7px grey;
          box-shadow: 1px -1px 34px -7px grey;
  background-color: #fcdfdb;
  text-decoration: none;
  height: 23em;
}

.menu_note .note_music {
  width: 15%;
}

.card-title1 {
  font-family: 'Devonshire', cursive;
  font-weight: normal;
  color: #3d1319;
  line-height: 5%;
}

.card-title1--menu {
  font-family: 'Kalam', cursive, sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #3d1319;
}

.menu_chic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px -1px 34px -7px grey;
          box-shadow: 1px -1px 34px -7px grey;
  background-color: #fff5fe;
  text-decoration: none;
}

.card-title2 {
  font-family: 'Croissant One', cursive;
  font-weight: normal;
  font-size: 1.2em;
  background: -webkit-gradient(linear, left top, right top, from(#d8852e), to(#905bfd));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-title2--menu {
  font-family: 'PT Serif Caption', serif;
  color: #c77412;
  font-size: 2em;
  font-weight: bold;
}

.menu_delice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23em;
  -webkit-box-shadow: 1px -1px 34px -7px grey;
          box-shadow: 1px -1px 34px -7px grey;
  background-color: #edefef;
  text-decoration: none;
}

.card-title3 {
  font-family: 'Dancing Script', cursive;
  font-weight: normal;
  font-size: 1.5em;
}

.card-title3--menu {
  font-family: 'Kalam', cursive, sans-serif;
  font-size: 2em;
  color: #0887fb;
}

.menu_palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23em;
  -webkit-box-shadow: 1px -1px 34px -7px grey;
          box-shadow: 1px -1px 34px -7px grey;
  background-color: #fdfffd;
  text-decoration: none;
  color: #72bf56;
}

.card-title4 {
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  font-size: 1.5em;
  background: linear-gradient(135deg, #3d923a, #beff7f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-title4--menu {
  font-family: 'Kalam', cursive, sans-serif;
  font-size: 2em;
  color: #72bf56;
}

#next {
  text-align: center;
  margin-bottom: 10%;
}

.btn {
  background-color: #579c87;
  color: #fdcb46;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 1%;
  border-radius: 0.5em;
  font-size: 2rem;
}

.point {
  font-size: 1.2em;
  -webkit-animation: blink infinite both 1.8s;
          animation: blink infinite both 1.8s;
}

.point:nth-child(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.point:nth-child(3) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-top: 5%;
  padding: 1.3%;
  background-color: #579c87;
}

footer a {
  text-decoration: none;
  color: #fdcb46;
}

.wiggle:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

.card-contenu:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0.4;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* !!! LA NOTE ENCHANTEE !!! */
article h1 {
  font-family: "Open Sans",sans-serif;
  text-align: center;
  font-size: 2em;
}

.menu_home1 {
  font-family: 'Kalam';
  width: 70%;
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: center;
  background-color: #fcdfdb;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px -1px 34px -7px grey;
          box-shadow: 1px -1px 34px -7px grey;
}

.menu_title1 {
  margin-top: 10%;
  margin-bottom: 8%;
  line-height: 3%;
}

.menu_title1 i {
  font-size: 5em;
}

.menu_title1_title {
  font-weight: normal;
  font-size: 4em;
  font-family: 'Devonshire', cursive;
}

.note_music-menu1 {
  width: 10%;
}

.menu_content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 5%;
  width: 65%;
  margin: auto;
}

.trait_note {
  width: 30%;
  height: 5%;
}

.line1 {
  position: relative;
  padding-bottom: 3%;
  margin: auto;
}

.line1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .5vh;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
  background: #3c1218;
}

.line1:hover:after {
  width: 100%;
}

/* 
.line1:after {
    content: "";
    display: block;
    margin: auto;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5 ease
}
.line1:hover:after {
    width: 90%;
    background: #444;
}
*/
/*
.line1 {
    transition: border 0.3s ease-in-out;
    border-bottom: 5px solid transparent;
}
.line1:hover {
    border-color: #3c1218;
}
*/
/*
.line1 {
    background: linear-gradient(to top, #3c1218 0%, #3c1218 30%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

.line1:hover {
    background-size: 100% 100%;
}
*/
/*
.line1 {
    color: black;
    padding-top: 1%;
    text-align: center;
    overflow: hidden;
    font-size: 1.5em;
}
.line1:before, .line1:after {
    clip-path: polygon(32% 53%, 73% 50%, 100% 75%, 55% 91%, 0% 75%, 12% 61%);

        content:'';
        width: 20%;
        border-bottom: black solid;
        display: inline-block;
        vertical-align: middle;
}
.line1:before {
    margin-left:-100%;
    margin-right: 3%;
}
.line1:after {
    margin-right:-100%;
    margin-left: 3%;
}
*/
.menu_entree {
  width: 65%;
  margin: auto;
  padding-bottom: 3%;
  line-height: 50%;
}

.contenu_entree1 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenu_entree1 .price {
  font-weight: bold;
  font-size: 1.2em;
}

.final_note {
  font-family: 'Devonshire', cursive;
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  margin: 5%;
}

.final_note .note_music-menu2 {
  width: 5%;
  height: auto;
}

/* !!! LE CHIC A LA FRANCAISE !!! */
.menu_home2 {
  font-family: 'Libre Baskerville', serif;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 7%;
  text-align: center;
  background-color: #fff5fe;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px -1px 34px -7px grey;
          box-shadow: 1px -1px 34px -7px grey;
}

.menu_title2 {
  font-family: 'Libre Baskerville', serif;
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: 2em;
  background: -webkit-gradient(linear, left top, right top, from(#d8852e), to(#905bfd));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trait_chic {
  width: 30%;
  height: 100%;
}

.contenu_entree2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 5%;
  width: 90%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 2%;
}

.menu2_part1 {
  color: #c67412;
}

.line2_p1 {
  position: relative;
  padding-bottom: 2%;
  margin: auto;
}

.line2_p1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .5vh;
  background: #c67412;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}

.line2_p1:hover:after {
  width: 100%;
}

.menu2_part2 {
  color: #a56799;
}

.line2_p2 {
  position: relative;
  padding-bottom: 2%;
  margin: auto;
}

.line2_p2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .5vh;
  background: #a56799;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}

.line2_p2:hover:after {
  width: 100%;
}

.menu2_part3 {
  color: #6e4ccc;
}

.line2_p3 {
  position: relative;
  padding-bottom: 2%;
  margin: auto;
}

.line2_p3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .5vh;
  background: #6e4ccc;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}

.line2_p3:hover:after {
  width: 100%;
}

/* !!! LE DELICE DES PAPILLES !!! */
.menu_home3 {
  font-family: 'Libre Baskerville', serif;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 7%;
  text-align: center;
  background-color: #edefef;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px -1px 34px -7px grey;
          box-shadow: 1px -1px 34px -7px grey;
}

.menu_title3 {
  font-family: 'Dancing Script', cursive;
  color: #0887fb;
  font-size: 3em;
  margin-top: 4%;
  margin-bottom: 3%;
  background: linear-gradient(135deg, #0887fb, #3d95e7, #a1c7eb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trait_delice {
  width: 35%;
  height: 5%;
}

.contenu_entree3 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Satisfy', cursive;
  font-size: 1.3em;
}

.menu_content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 5%;
  width: 80%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 3%;
}

.line3_p1 {
  position: relative;
  padding-bottom: 2%;
  margin: auto;
}

.line3_p1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .5vh;
  background: #0228dd;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}

.line3_p1:hover:after {
  width: 100%;
}

.line3_p2 {
  position: relative;
  padding-bottom: 2%;
  margin: auto;
}

.line3_p2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .5vh;
  background: #0670f3;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}

.line3_p2:hover:after {
  width: 100%;
}

.line3_p3 {
  position: relative;
  padding-bottom: 2%;
  margin: auto;
}

.line3_p3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .5vh;
  background: #229df9;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}

.line3_p3:hover:after {
  width: 100%;
}

/* !!! LA PALETTE DU GOUT !!! */
.menu_home4 {
  font-family: 'Kaushan Script', cursive;
  background-color: #fdfffd;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 7%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px -1px 34px -7px grey;
          box-shadow: 1px -1px 34px -7px grey;
}

.menu_title4 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
  margin-top: 4%;
  background: linear-gradient(135deg, #3d923a, #beff7f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trait_palette {
  width: 30%;
  height: 3vh;
}

.contenu_entree4 {
  font-family: 'Tillana', cursive;
  font-size: 1.2em;
  font-weight: normal;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3%;
}

.line4 {
  position: relative;
  padding-bottom: 4%;
  margin: auto;
}

.menu_content4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 5%;
  width: 80%;
  margin: auto;
  padding-top: 5%;
}

.line4:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .5vh;
  background: #3c1218;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}

.line4:hover:after {
  width: 100%;
}

/* !!! MENTIONS LEGALES !!! */
#mentions_bloc {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin: auto;
  padding-bottom: 5%;
}

#mentions_bloc .mentions_title {
  font-size: 2em;
  text-align: center;
}

.mentions_content {
  margin: 8%;
  text-align: center;
  font-size: 1.1em;
}

/* MEDIA QUERIES */
/*# sourceMappingURL=style.css.map */