$color-primary: #579c87;
$color-secondary: #fdcb46;

body{
    margin: 0;
}




/* !!! Index !!! */ 


header{
    font-family: "Arial black";
    font-weight: bold;
    display: flex;
    z-index: 1;
    width: 100%;
    background-color: $color-primary;
    font-size: 4em;
    margin-bottom: 5%;
    a{
        margin: auto;
        padding: 2%;
        text-decoration: none;
        color: $color-secondary;
        
    }
}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 5%;
    text-align: center;
    width: 41%;
}

.card-contenu {
    width: 40vh;
}


// Carte "La note enchantée"
.menu_note {
    display: flex;
    align-items: center;
    box-shadow: 1px -1px 34px -7px grey;
    background-color: #fcdfdb;
    text-decoration: none;
    height: 23em;
    .card-title1_title {
        font-family: 'Devonshire', cursive;
        font-weight: normal;
        color: #3d1319;
        line-height: 5%;
    }
}

.card-title1_menu {
    font-family: 'Kalam', cursive, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #3d1319;
}

.note_music {
    width: 15%;
}

// Carte "Le chic à la française" 
.menu_chic {
    display: flex;
    align-items: center;
    box-shadow: 1px -1px 34px -7px grey;
    background-color: #fff5fe;
    text-decoration: none;
    .card-title2_title {
        font-family: 'Croissant One', cursive;
        font-weight: normal;
        font-size: 1.2em;

        background: -webkit-gradient(linear, left top, right top, from(#d8852e), to(#905bfd));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.card-title2_menu {
    font-family: 'PT Serif Caption', serif;
    color: #c77412;
    font-size: 2em;
    font-weight: bold;
}
 
// Carte "Le délice des papilles" 
.menu_delice {
    display: flex;
    align-items: center;
    height: 23em;
    box-shadow: 1px -1px 34px -7px grey;
    background-color: #edefef;
    text-decoration: none;
    .card-title3_title {
        font-family: 'Dancing Script', cursive;
        font-weight: normal;
        font-size: 1.5em;
        
    }
}

.card-title3_menu {
    font-family: 'Kalam', cursive, sans-serif;
    font-size: 2em;
    color: #0887fb;
}


// Carte "La palette du goût"
.menu_palette {
    display: flex;
    align-items: center;
    height: 23em;
    box-shadow: 1px -1px 34px -7px grey;
    background-color: #fdfffd;
    text-decoration: none;
    color: #72bf56;
    .card-title4_title {
        font-family: 'Kaushan Script', cursive;
        font-weight: normal;
        font-size: 1.5em;

        background: linear-gradient(135deg, #3d923a, #beff7f);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.card-title4_menu {
    font-family: 'Kalam', cursive, sans-serif;
    font-size: 2em;
    color: #72bf56;
    
}


// Prochainement
#next {
    text-align: center;
    margin-bottom: 10%;
}

main {
    margin-bottom: 10%;
}

 .btn {
    background-color: $color-primary;
    color: $color-secondary;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 1%;
    border-radius: 0.5em;
    font-size: 2rem;
    
    }

.point{ 
      font-size: 1.2em;
}


// PART "Mentions légales - Contact"
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-top: 5%;
    padding: 1.3%;
    background-color: $color-primary;
       a{
            text-decoration: none;
            color: $color-secondary;
       }  
}

// Animations wiggle Mentions légales - Contact
.wiggle:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


// Animations cartes menus

.card-contenu:hover {
    transform: scale(1.2);
    transition: 1s;
    opacity: 0.4;
}


// Animations bouton - points "Prochainement..."
@keyframes blink {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  
.point {
    animation-name: blink;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  
.point:nth-child(2) {
    animation-delay: .5s;
  }
  
.point:nth-child(3) {
    animation-delay: .9s;
  }
















/* !!! LA NOTE ENCHANTEE !!! */


// Titre générique menu
article h1{
    font-family: "Open Sans",sans-serif;
    text-align: center;
    font-size: 2em;
}


// Note et titre h2 "La note enchantée"
.menu_home1 {
    font-family: 'Kalam';
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5%;
    text-align: center;
    background-color: #fcdfdb;
    align-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1px -1px 34px -7px grey;
}

.menu_title1 {
    margin-top: 10%;
    margin-bottom: 8%;
    line-height: 3%;
    i{
        font-size: 5em;
    }
}

.menu_title1_title{
    font-weight: normal;
    font-size: 4em;
    font-family: 'Devonshire', cursive;
}

.note_music-menu1 {
    width: 10%;
}








// Ligne de séparation

.menu_content {
    display: flex;
    justify-content: center;
    line-height: 5%;
}

.trait_note1 {
    width: 31%;
    height: 5%;
}
.trait_note2 {
    width: 30%;
    height: 5%;
}
.trait_note3 {
    width: 28%;
    height: 5%;
}


.line1 {
    position: relative;
    padding-bottom: 1%;
}
   
.line1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .5vh;
    background: #3c1218;
    transition: width 400ms ease-in-out;
}
   
.line1:hover:after {
    width: 100%;
}


.trait_chic {
    width: 25%;
    height: 100%;
}

.trait_delice {
    width: 30%;
    height: 5%;
}

.trait_palette {
    width: 30%;
    height: 3vh;
}


/* 
.line1:after {
    content: "";
    display: block;
    margin: auto;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5 ease
}
.line1:hover:after {
    width: 90%;
    background: #444;
}
*/ 



/*
.line1 {
    transition: border 0.3s ease-in-out;
    border-bottom: 5px solid transparent;
}
.line1:hover {
    border-color: #3c1218;
}
*/ 



/*
.line1 {
    background: linear-gradient(to top, #3c1218 0%, #3c1218 30%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

.line1:hover {
    background-size: 100% 100%;
}
*/ 



/*
.line1 {
    color: black;
    padding-top: 1%;
    text-align: center;
    overflow: hidden;
    font-size: 1.5em;
}
.line1:before, .line1:after {
    clip-path: polygon(32% 53%, 73% 50%, 100% 75%, 55% 91%, 0% 75%, 12% 61%);

        content:'';
        width: 20%;
        border-bottom: black solid;
        display: inline-block;
        vertical-align: middle;
}
.line1:before {
    margin-left:-100%;
    margin-right: 3%;
}
.line1:after {
    margin-right:-100%;
    margin-left: 3%;
}
*/




// PART Menu
.menu_entree {
    width: 65%;
    margin: auto;
    padding-bottom: 3%;
    line-height: 50%;
}

.contenu_entree1 {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.price {
  font-weight: bold;
  font-size: 1.2em;
}

.final_note{
    
    font-family: 'Devonshire', cursive;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    margin: 5%;
}

.note_music-menu2 {
    width: 5%;
    height: auto;
}

















  /* !!! LE CHIC A LA FRANCAISE !!! */ 

  
.menu_home2 {
    font-family: 'Libre Baskerville', serif;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 7%;
    text-align: center;
    background-color: #fff5fe;
    align-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1px -1px 34px -7px grey;
}

.menu_title2{
    font-family: 'Libre Baskerville', serif;
    margin-top: 8%;
    margin-bottom: 5%;
    font-size: 2em;
    
    background: -webkit-gradient(linear, left top, right top, from(#d8852e), to(#905bfd));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contenu_entree2 {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.menu2_part1 {
    margin-bottom: 3%;
    color: #c67412;
}

// Menu chic part 1
.line2_p1 {
    position: relative;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }
   
  .line2_p1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .5vh;
    background: #c67412;
    transition: width 400ms ease-in-out;
  }
   
  .line2_p1:hover:after {
    width: 100%;
  }

// Menu chic part 2
.menu2_part2 {
    margin-bottom: 3%;
    color: #a56799;
}

.line2_p2 {
    position: relative;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }
   
  .line2_p2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .5vh;
    background: #a56799;
    transition: width 400ms ease-in-out;
  }
   
  .line2_p2:hover:after {
    width: 100%;
  }

// Menu chic part 3
.menu2_part3 {
    color: #6e4ccc;
}

.line2_p3 {
    position: relative;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }
   
  .line2_p3:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .5vh;
    background: #6e4ccc;
    transition: width 400ms ease-in-out;
  }
   
  .line2_p3:hover:after {
    width: 100%;
  }










  





/* !!! LE DELICE DES PAPILLES !!! */

.menu_home3 {
    font-family: 'Libre Baskerville', serif;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 7%;
    text-align: center;
    background-color: #edefef;
    align-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1px -1px 34px -7px grey;
}

.menu_title3 {
    font-family: 'Dancing Script', cursive;
    color: #0887fb;
    font-size: 3em;
    margin-top: 4%;

    background: linear-gradient(135deg, #0887fb,#3d95e7, #a1c7eb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contenu_entree3 {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.contenu_entree3 {
    font-family: 'Satisfy', cursive;
    font-size: 1.3em;
}

// Menu délice part 1
.line3_p1  {
    position: relative;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }
   
  .line3_p1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .5vh;
    background: #0228dd;
    transition: width 400ms ease-in-out;
  }
   
  .line3_p1:hover:after {
    width: 100%;
  }

// Menu délice part 2 
.line3_p2  {
    position: relative;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }
   
  .line3_p2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .5vh;
    background: #0670f3;
    transition: width 400ms ease-in-out;
  }
   
  .line3_p2:hover:after {
    width: 100%;
  }

// Menu délice part 3 
.line3_p3  {
    position: relative;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }
   
  .line3_p3:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .5vh;
    background: #229df9;
    transition: width 400ms ease-in-out;
  }
   
  .line3_p3:hover:after {
    width: 100%;
  }









/* !!! LA PALETTE DU GOUT !!! */ 

.menu_home4 {
    font-family: 'Kaushan Script', cursive;
    background-color: #fdfffd;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 7%;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1px -1px 34px -7px grey;
}

.menu_title4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
    margin-top: 4%;
    background: linear-gradient(135deg, #3d923a, #beff7f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.contenu_entree4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.3em;
    font-weight: normal;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.line4 {
    position: relative;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}
   
.line4:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .5vh;
    background: #3c1218;
    transition: width 400ms ease-in-out;
}
   
.line4:hover:after {
    width: 100%;
}














/* !!! MENTIONS LEGALES !!! */ 

#mentions_bloc {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto;
    padding-bottom: 5%;
}

.mentions_title {
    font-size: 2em;
    text-align: center;
}

.mentions_content {
    margin: 8%;
    text-align: center;
    font-size: 1.1em;
}